<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.topnet.mapper.CountryMapper">
    <resultMap id="baseMap" type="com.topnet.model.Country">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="countryname" property="countryName" jdbcType="VARCHAR"/>
        <result column="countrycode" property="countryCode" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectLike" resultMap="baseMap" parameterType="java.lang.String">
        select id,countryname
        from country
        <where>
            <if test="countryname!=null || countryname!='' ">
                /*CONCAT(countryname) like '%${countryname}%'*/
                /*countryname like CONCAT('%',#{countryname},'%')*/
                /*countryname like '%${countryname}%'*/
                countryname like "%"#{countryname}"%"
            </if>
        </where>
    </select>
</mapper>